<div class="spinner" *ngIf="spinner">
    <iframe src="https://giphy.com/embed/3o85xjSETVG3OpPyx2" width="480" height="480" margin="20px auto" frameBorder="0" class="giphy-embed"
        allowFullScreen>
    </iframe>
    <p>
        <a href="https://giphy.com/gifs/beer-alcohol-toast-3o85xjSETVG3OpPyx2">via GIPHY
        </a>
    </p>
</div>


<ng-container *ngIf="beer">
    <h2 class="beer-name">{{beer.name}}</h2>

    <section class="beer-details">

        <div class="beer-image">
            <figure class="beer-description_image">
                <img [src]="beer.image_url">
            </figure>

        </div>

        <div class="beer-description">
            <h3>About:</h3>
            <p class="beer-description_description"> {{beer.description}}</p>

            <h3>Compose with:</h3>
            <ul class="beer-description_food_pairing" *ngFor="let food of foods">
                <li><i class="fas fa-utensils"></i> {{food}}</li>
            </ul>
            <h3>Tips:</h3>
            <p class="beer-description_brewers_tips"> {{beer.brewers_tips}}</p>

        </div>
    </section>

    <button class="back-button" (click)="backToList()">Back to list</button>

</ng-container>